* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: bisque;
}

.board-container {
  padding-bottom: 10px;
  margin: 25px;

  table {
    background-color: gray;
    border-spacing: 0px;
  }

  td {
    border: 1px solid rgb(90, 90, 90);
    width: 20px;
    height: 20px;
  }

  .dead {
    background-color: transparent;
  }

  .alive {
    background-color: #fff;
  }
}
